<div class="jumbotron" id="admin_jumbotron">
  <h2><%= @user.profile.name %>'s Dashboard</h2>
  <h4><%= @user.profile.university %></h4>
  <h4><%= @user.profile.degree %></h4>
</div>

<div class="container">

	<% if @user.profile.blank? %>
		<%= link_to 'Create profile', new_profile_path, class: 'btn btn-primary' %>
	<% end %>
</div>	


