
<div class="jumbotron" id="homepage_jumbotron">
  <h1>Boost your uni grades</h1>
  <p>Concise video summaries by top students</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>