
<div class="jumbotron" id="homepage_jumbotron">
  <h1>Boost your engineering grades</h1>
  <p>Concise video summaries by your peers</p>
  <%= link_to 'View Courses', search_courses_path, class: "btn btn-primary btn-lg" %>

    <p id="notice"><%= notice %></p> 
 
</div>

